@page "/counter"
@implements IDisposable

<CascadingValue Value="currentCount">
    <h1>Counter</h1>

    <p>Current count: @currentCount.Count</p>

    <button class="btn btn-primary" @onclick="currentCount.Increment">Click me</button>

    <CountChild></CountChild>
</CascadingValue>
@code {
    private CountModel currentCount = new CountModel();
    
    protected override void OnInitialized()
    {
        currentCount.PropertyChanged += (sender, args) => StateHasChanged();
    }
    
    public void Dispose()
    {
        currentCount.PropertyChanged -= (sender, args) => StateHasChanged();
    }
}